.agence-container{
  text-align: center;
  width: 100%;
  margin:auto;
}

.head-agence-img{
  height: 400px;
  max-width: 450px;
  background-size: cover !important;
  background-position: center;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .head-agence-img {
    margin-top: 10px;
  }
}
