.container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-projets {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

h1 {
  font-family: $headers-font;
  font-size: 40px;
}

h2 {
  font-family: $headers-font;
  font-size: 24px;
}

h3 {
  font-family: $headers-font;
  font-size: 16px;
}

body {
  font-family: $body-font;
}

.content {
  padding-left: 250px;
  padding-right: 20px;
  padding-top: 183px;
}

@media only screen and (min-width: 992px) {
  .content {
    padding-left: 350px;
    padding-right: 80px;
    padding-top: 183px;
  }
}
