---
title: Pont sur le Mouhoun
---

<div class="content">
  <div class="project-container">
    <div class="gallery">
      <a href="/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_tablier01.jpg" class="with-caption" title="">
        <div class="head-projet-img" style="background-image: url('/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_tablier01.jpg');">
        </div>
      </a>
      <div class="project-title">
        <h1>Pont sur le Mouhoun</h1>
      </div>

      <div class="row row-wd">
        <div class="col-sm-12 col-lg-8" style="padding-right: 30px;">
          <h2 class="text-left">Description</h2>
          <p class="text-justify">
            Pont bipoutre mixte lancé. <br>
            En collaboration avec Sogea Satom, Matiere et ISC-VCF TP IDF.
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h2 class="text-left">Details</h2>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Catégorie</h3>
            </div>
            <div class="col-sm-8 text-left">
              Ouvrage d'art <br>
              Conception et Exécution
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Lieu</h3>
            </div>
            <div class="col-sm-8 text-left">
              Burkina Faso
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Année</h3>
            </div>
            <div class="col-sm-8 text-left">
              2017
            </div>
          </div>
        </div>
      </div>

      <div class="gallery">
        <a href="/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_tablier02.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_tablier02.jpg');"></div>
        </a>
        <a href="/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_met01.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/burkina_faso_pont_mouhoun/burkina_faso_pont_mouhoun_met01.jpg');"></div>
        </a>
      </div>

      <script type="text/javascript">
        $('.gallery').each(function() { // the containers for all your galleries
          $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
          });
        });
      </script>

    </div>
  </div>
</div>
