---
title: Palais des Peuples
---

<div class="content">
  <div class="project-container">
    <div class="gallery">
      <a href="/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers01.jpg" class="with-caption" title="">
        <div class="head-projet-img" style="background-image: url('/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers01.jpg');">
        </div>
      </a>
      <div class="project-title">
        <h1>Palais des Peuples</h1>
      </div>

      <div class="row row-wd">
        <div class="col-sm-12 col-lg-8" style="padding-right: 30px;">
          <h2 class="text-left">Description</h2>
          <p class="text-justify">
            Centre des congrès à Oyala... <br>
            En collaboration avec Sogea Satom, ISC-VCF TP IDF et SRA Architectes.
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h2 class="text-left">Details</h2>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Catégorie</h3>
            </div>
            <div class="col-sm-8 text-left">
              Equipement <br>
              Conception APS
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Lieu</h3>
            </div>
            <div class="col-sm-8 text-left">
              Guinée Equatoriale, Oyala
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Année</h3>
            </div>
            <div class="col-sm-8 text-left">
              2000
            </div>
          </div>
        </div>
      </div>

      <div class="gallery">
        <a href="/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers03.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers03.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers04.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers04.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers02.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_palais_des_peuples/guinee_equatoriale_palais_des_peuples_pers02.jpg');"></div>
        </a>
      </div>

      <script type="text/javascript">
        $('.gallery').each(function() { // the containers for all your galleries
          $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
          });
        });
      </script>

    </div>
  </div>
</div>
