---
title: Tribune Présidentielle
---

<div class="content">
  <div class="project-container">
    <div class="gallery">
      <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison01.jpg" class="with-caption" title="">
        <div class="head-projet-img" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison01.jpg');">
        </div>
      </a>
      <div class="project-title">
        <h1>Tribune Présidentielle</h1>
      </div>

      <div class="row row-wd">
        <div class="col-sm-12 col-lg-8" style="padding-right: 30px;">
          <h2 class="text-left">Description</h2>
          <p class="text-justify">
            Tribune de 1500 places incluant des locaux de réception. <br>
            En collaboration avec Sogea Satom et ISC-VCF TP IDF.
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h2 class="text-left">Details</h2>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Catégorie</h3>
            </div>
            <div class="col-sm-8 text-left">
              Equipement <br>
              Conception et Exécution
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Lieu</h3>
            </div>
            <div class="col-sm-8 text-left">
              Guinée équatoriale, Oyala
            </div>
          </div>
          <div class="row row-pad">
            <div class="col-sm-4">
              <h3 class="text-left">Année</h3>
            </div>
            <div class="col-sm-8 text-left">
              2000
            </div>
          </div>
        </div>
      </div>

      <div class="gallery">
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_montage01.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_montage01.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison03.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison03.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_montage02.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_montage02.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison02.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison02.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_travaux01.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_travaux01.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_pers01.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_pers01.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_eclatee01.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_eclatee01.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met01.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met01.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met02.png" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met02.png');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met03.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met03.jpg');"></div>
        </a>
        <a href="/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met04.jpg" class="with-caption" title="">
          <div class="projet-img-a" style="background-image: url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_met04.jpg');"></div>
        </a>
      </div>

      <script type="text/javascript">
        $('.gallery').each(function() { // the containers for all your galleries
          $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
          });
        });
      </script>

    </div>
  </div>
</div>
