<div class="content">
  <div class="card-container">
    <div class="row">

      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont01.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont04.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont03.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont03.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont03.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/pont03.jpg')">
          <h2 class="card-content">Pont de Mogomo</h2>
          <a class="card-link" href="/projets/a" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
