---
title: Echangeur de Niamey
---

<div class="content">
  <div class="project-container">
    <div class="head-projet-img" style="background-image: url('/images/pont02.jpg');">
    </div>
    <div class="project-title">
      <h1>Echangeur de Niamey</h1>
    </div>

    <div class="row row-wd">
      <div class="col-sm-12 col-lg-8" style="padding-right: 30px;">
        <h2 class="text-left">Description</h2>
        <p class="text-justify">
          Trois ouvrages d'art à Niamey : bipoutre mixte, POD et échangeur trois niveaux. <br>
          En collaboration avec Sogea Satom et ISC-VCF TP IDF.
        </p>
      </div>
      <div class="col-sm-12 col-lg-4">
        <h2 class="text-left">Details</h2>
        <div class="row row-pad">
          <div class="col-sm-4">
            <h3 class="text-left">Catégorie</h3>
          </div>
          <div class="col-sm-8 text-left">
            Ouvrage d'art <br>
            Conception et Exécution
          </div>
        </div>
        <div class="row row-pad">
          <div class="col-sm-4">
            <h3 class="text-left">Lieu</h3>
          </div>
          <div class="col-sm-8 text-left">
            Niger, Niamey
          </div>
        </div>
        <div class="row row-pad">
          <div class="col-sm-4">
            <h3 class="text-left">Année</h3>
          </div>
          <div class="col-sm-8 text-left">
            2000
          </div>
        </div>
      </div>
    </div>

    <div class="gallery">
      <a href="/images/pont01.jpg" class="with-caption" title="Photo 1">
        <div class="projet-img-a" style="background-image: url('/images/pont01.jpg');"></div>
      </a>
      <a href="/images/pont02.jpg" class="with-caption" title="Photo 2">
        <div class="projet-img-a" style="background-image: url('/images/pont02.jpg');"></div>
      </a>
      <a href="/images/pont03.jpg" class="with-caption" title="Photo 3">
        <div class="projet-img-a" style="background-image: url('/images/pont03.jpg');"></div>
      </a>
    </div>

    <script type="text/javascript">
        $('.gallery').each(function() { // the containers for all your galleries
          $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
          });
        });
      </script>

    </div>
  </div>
