<div class="menu">
  <ul class="list-unstyled">
    <li>
      <a class="menu-logo" href="/">
        <%= image_tag '/images/logo/Logo_noir_5.png', width: '300'%>
      </a>
    </li>
    <br>
    <br>
    <li class="menu-li">
      <a class="menu-btn-black" href="/projets">
        <h2>PROJETS</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/actualites">
        <h2>ACTUALITES</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/agence">
        <h2>AGENCE</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/contact">
        <h2>CONTACT</h2>
      </a>
    </li>
  </ul>
</div>


<div class="menu-mobile">
  <div class="menu-mobile-top">
    <a class="menu-mobile-logo" href="/">
      <%= image_tag '/images/logo/Logo_noir_5.png', height: '50'%>
    </a>
    <a href="javascript:void(0);" class="menu-mobile-icon" onclick="myFunction()">
      <%= image_tag '/images/menu.png', height: '40'%>
    </a>
  </div>


  <div id="hidden" class="menu-mobile-bot">
    <ul class="list-unstyled">
      <li class="menu-mobile-li">
        <a class="menu-mobile-btn-black" href="/projets">
          <h2>PROJETS</h2>
        </a>
      </li>
      <li class="menu-mobile-li">
        <a class="menu-mobile-btn-black" href="/actualites">
          <h2>ACTUALITES</h2>
        </a>
      </li>
      <li class="menu-mobile-li">
        <a class="menu-mobile-btn-black" href="/agence">
          <h2>AGENCE</h2>
        </a>
      </li>
      <li class="menu-mobile-li">
        <a class="menu-mobile-btn-black" href="/contact">
          <h2>CONTACT</h2>
        </a>
      </li>
    </ul>
  </div>
</div>
