<div class="menu">
  <ul class="list-unstyled">
    <li>
      <a class="menu-logo" href="/">
        <%= image_tag 'logo.png', width: '300'%>
      </a>
    </li>
        <br>
    <br>
    <li class="menu-li">
      <a class="menu-btn-black" href="/projets">
        <h2>PROJETS</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/actualites">
        <h2>ACTUALITES</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/agence">
        <h2>AGENCE</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/contact">
        <h2>CONTACT</h2>
      </a>
    </li>
  </ul>
</div>
