<div class="menu">
  <% if current_page.url == "/home/" %>
  <ul class="list-unstyled">
    <li>
      <a class="menu-logo" href="/home">
        <%= image_tag 'logo.png', width: '200'%>
      </a>
    </li>
    <br>
    <br>
    <li class="menu-li">
      <a class="menu-btn-white" href="/projets">
        <h2>PROJETS</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-white" href="/actualites">
        <h2>ACTUALITES</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-white" href="/agence">
        <h2>AGENCE</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-white" href="/contact">
        <h2>CONTACT</h2>
      </a>
    </li>
  </ul>
  <% else %>
  <ul class="list-unstyled">
    <li>
      <a class="menu-logo" href="/home">
        <%= image_tag 'logo.png', width: '200'%>
      </a>
    </li>
        <br>
    <br>
    <li class="menu-li">
      <a class="menu-btn-black" href="/projets">
        <h2>PROJETS</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/actualites">
        <h2>ACTUALITES</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/agence">
        <h2>AGENCE</h2>
      </a>
    </li>
    <li class="menu-li">
      <a class="menu-btn-black" href="/contact">
        <h2>CONTACT</h2>
      </a>
    </li>
  </ul>
  <% end %>
</div>
