<div class="content">
  <div class="contact-container">
    <div class="contact-form contact-form-width">
      <div class="head-contact-img" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/images/projets/guinee_equatoriale_oyala_tribune_presidentielle/guinee_equatoriale_oyala_tribune_presidentielle_livraison01.jpg');">
        <div class="postacard">

        </div>
      </div>
      <form action="https://formspree.io/contact@leopard-architecture.fr" method="POST" >
        <div class="contact-form-content">
          <div class="input-group margin-form">
            <div class="input-group-prepend">
              <span class="input-group-text">Prénom et nom</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" placeholder="Prénom" name="Prénom">
            <input type="text" aria-label="Last name" class="form-control" placeholder="Nom" name="Nom">
          </div>

          <div class="input-group margin-form">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Email <i class="far fa-paper-plane"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="exemple@email.com" aria-label="exemple@email.com" aria-describedby="basic-addon1" name="Mail de contact">
          </div>

          <div class="input-group margin-form">
            <div class="input-group-prepend">
              <span class="input-group-text">Votre message</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" placeholder="Je vous écoute ..." name="Message"></textarea>
          </div>


          <!-- <label>Votre message*</label>
            <input  class="form-control"type="email" placeholder="Je vous écoute ..." name="Message"> -->
            <input class="margin-form contact-btn" type="submit" value="Envoyer">
          </div>
        </form>
      </div>
    </div>
  </div>
