.menu {
  position: fixed;
  margin: 50px 0 0 20px;
  width: 200px;
}

@media only screen and (min-width: 992px) {
  .menu {
    position: fixed;
    margin: 50px 0 0 80px;
    width: 200px;
  }
}
.menu-li{
  margin-top: 25px;
}

.menu-btn-white{
  color: $white;
}

.menu-btn-black{
  color: $black;
}

.menu-btn-white:hover{
  color: white;
  text-decoration: none;
}

.menu-btn-black:hover{
  color: black;
  text-decoration: none;
}

.menu-btn-white h2{
  font-size: 28px;
  letter-spacing: 4px;
  transition: all 0.3s ease;
}

.menu-btn-white:hover h2{
  letter-spacing: 6px;
}

.menu-btn-black h2{
  font-size: 28px;
  letter-spacing: 4px;
  transition: all 0.3s ease;
}

.menu-btn-black:hover h2{
  letter-spacing: 6px;
}
