---
title: Actualité
---

<div class="content">
  <div class="card-project-container">
    <div class="row">

      <div class="col-xs-12 col-lg-6 col-xl-4">
        <div class="card-actu">
          <div class="card-actu-img" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('/images/actu/actu01.jpg')">
          </div>
          <div class="card-actu-details text-justify">
            <div class="card-actu-details-head">
              <h2 class="card-actu-head">Lancement du site internet</h2>
              <p class="card-actu-head-date">24/07/2019</p>
            </div>
            <p>Le site internet de Léopard Architecture est maintenant en ligne. Vous retrouverez les projets de l'agence et ses dernières actualités.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 col-xl-4">

      </div>
      <div class="col-xs-12 col-lg-6 col-xl-4">

      </div>

    </div>
  </div>
</div>
